<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>Scene</string>
	<key>Description</key>
	<string>Generate scene test files for Clean Swift architecture</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>sceneName</string>
			<key>Name</key>
			<string>Scene name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___ViewControllerTests</string>
			<key>Identifier</key>
			<string>viewControllerName</string>
			<key>Name</key>
			<string>ViewController</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___InteractorTests</string>
			<key>Identifier</key>
			<string>interactorName</string>
			<key>Name</key>
			<string>Interactor</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___PresenterTests</string>
			<key>Identifier</key>
			<string>presenterName</string>
			<key>Name</key>
			<string>Presenter</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>XCTestCase</string>
			<key>Description</key>
			<string>What view controller class to subclass for the new scene</string>
			<key>FallbackHeader</key>
			<string>#import &lt;UIKit/UIKit.h&gt;</string>
			<key>Identifier</key>
			<string>viewControllerSubclass</string>
			<key>Name</key>
			<string>Subclass of:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>class</string>
			<key>Values</key>
			<array>
				<string>XCTestCase</string>
			</array>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>0</string>
	<key>Summary</key>
	<string>Generate scene test files for Clean Swift architecture</string>
</dict>
</plist>
